# 林夕通信 API 配置（号卡极团系统）
LINXI_API_USER=longchun
LINXI_API_PWD=0303e01731ee1f97ad00df0b1018c1a6a622046e380f5d1f93ec256c2158ec2e

# 172号卡平台 API 配置
HAOKA_USER_ID=longchun
HAOKA_SECRET=6f2e2163d49a38728440d519d5a244ba
HAOKA_AGENT_ID=1a654e0b341cadd2

浩卡联盟API
HAOKAVIP_APP_ID=AUEQSwr8rvmcWnFhf/nf0g==
HAOKAVIP_APP_SECRET=2zVmexsWHTqYkoU7xorYO3413XJeCmLO2g/jYw3EDbp4ec8klZV4S4Upv1kamXzQ
